<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>

</head>
<body>
<h1> LOG IN </h1>
<form action = "#">
    <p> UserName:
        <input class="textfield" placeholder="Please enter your username" size="45" maxlength="100" value onfocus="var cur=this.value; this.value=''; this.value=cur">
    </p>
    <p> Password:
        <input class="textfield" placeholder="Please enter your password" size="45" maxlength="50" value onfocus="var cur=this.value; this.value=''; this.value=cur">
    </p>
</form>
<div>
    <input class = "button" type = "submit" value = "login">
</div>
</body>
</html>