<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>

</head>
<body>
<h1> LOG IN </h1>
<form method = "post" action = "#" th:action="@{/login}">
    <p> UserName:
        <input class="textfield" placeholder="Please enter your username" size="45" maxlength="100" >
    </p>
    <p> Password:
        <input class="textfield" placeholder="Please enter your password" size="45" maxlength="50" >
    </p>
</form>
<div>
    <input class = "button" type = "submit" value = "login">
</div>

<script>

    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: 'user name'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: 'password'
                }]
            }
        }
    });
</script>
</body>
</html>